* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Handlee", cursive;
}

html {
  overflow: hidden;
}

html body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #f2fff6;
  position: relative;
}

html body nav {
  background-color: #7ac793 !important;
  height: 9vh !important;
}

html body nav .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body nav .container-fluid .navbar-toggler .navbar-toggler-icon svg {
  color: white;
}

html body nav .container-fluid .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

html body .formPanelAdd,
html body .formPanelDelete {
  width: 100vw;
  height: 100vh;
  background-color: #000000d6;
  bottom: 0;
  position: absolute;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

html body .formPanelAdd .alert,
html body .formPanelDelete .alert {
  display: none;
}

html body .icons {
  display: none !important;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: crimson;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  padding: 20px 15px;
}

html body .icons .subject {
  margin-top: 5px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .icons .subject svg {
  color: white;
}

html body .icons .subject h6 {
  color: white;
  margin: auto 5px auto 10px;
}

html body .icons .subject span {
  color: white;
}

html body h3 {
  color: #73d298;
  margin: 5px auto;
}

html body .curt {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  height: 49vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

html body .curt div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .curt div span {
  margin-top: 5px;
}

html body .curt div svg {
  font-size: 30px;
}

html body .balance button {
  background-color: #f78384;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
}

html body footer {
  height: 24vh;
  background-color: #f2fff6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body footer .borderRounded {
  border-radius: 50%;
  padding: 45px;
  height: 45px;
  width: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

html body footer .borderRounded .fa-minus {
  font-size: 30px;
  font-weight: bold;
  color: #f78384;
}

html body footer .borderRounded .fa-plus {
  font-size: 30px;
  font-weight: bold;
  color: #73d298;
}

html body footer .minus {
  border: 10px solid #f78384;
}

html body footer .plus {
  border: 10px solid #73d298;
}
/*# sourceMappingURL=styles.css.map */